<div class="container__big-card">
  <a href="https://angular.io/resources?category=community">
  <div class="big-card__photo">
    <img
      src="https://dkrn4sk0rn31v.cloudfront.net/uploads/2020/06/ANGULAR.png"
      alt="imagem do layout"
      height="200px"

    >
  </div>

  <div class="big-card__title">
    <h1>Novidades para a comunidade Angular</h1>
  </div>

  <div class="big-card__description">
    <p>Em breve novidades no blog</p>
    <br>
    <p>Lorem ipsum dolor, sit amet
       consectetur adipisicing elit.
        Eum dolore cum libero hic
         debitis. Quaerat ab autem quis
          explicabo adipisci iure minus
           est ipsum corrupti? Doloribus
            minima culpa voluptates
             nostrum.</p>
  </div>
</a>
</div>
